@mixin pagePositioning {
  margin-top: 6.4rem;
  height: 100vh;
}

@mixin darkenPageBackground {
  &--darken {
    background: linear-gradient(transparent, #000);
    height: 100%;
  }
}

@mixin centerInPage {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%,-50%);
}