.playlists {
  @include pagePositioning;
  @include darkenPageBackground;
  background-image: linear-gradient(90deg, #70F570, #49C628);

  &__grid-container {
    margin-top: 3rem;
  }
  
  &__text-box {
    padding: 2rem 8.3rem;
  }
}